
*{ 
   
    padding: 0.5rem;
    
    max-width: 87.5rem;
}


@keyframes cambiarColorFondoHeader {
    0%{background-color: rgb(86, 209, 247);}
   50% {background-color: rgb(135, 233, 228);}
   100%{background-color: rgb(193, 230, 230);}
    }
    @keyframes cambiarColorFontHeader {
        0%{color: rgb(70, 68, 68);}
       50% {color: rgb(112, 105, 211);}
       100%{color: rgb(70, 68, 68);}
        }   

header{ 
    font-family: "Audiowide", sans-serif;
    border:0.16rem solid rgb(227, 240, 237);
    background-color: rgb(214, 135, 175);
    animation-name: cambiarColorFondoHeader;
  
animation-duration:50s ;
 
animation-iteration-count: infinite;
}
header h1{
    animation-name: cambiarColorFontHeader;
    animation-duration:50s ;

animation-iteration-count: infinite;

}


a {
    text-decoration: none;
}
section{
    background-color:rgb(182, 202, 216);
}
 

section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

  body{
     background-color:rgb(21, 46, 63);
        width:90%;
       font-size: 1rem; 
     }
     
   nav{
     
       
       display: none;
     }

   header{
           border-radius: 0.5rem;
           display: flex;
           flex-wrap: nowrap;
            background-color: rgb(214, 135, 175);
            margin: auto;
   
           
   }
   #fraseHeader {
    background-image: url("https://st.depositphotos.com/1813594/1385/i/950/depositphotos_13852159-stock-photo-garden-gnome.jpg");
    background-size  : auto;
    opacity: 0.4;
    font-family: monospace; 
   font-size: 2rem;
   background-repeat: no-repeat;
     background-size : cover;
     border-radius: 0.5rem;
     
     
   }
   #fraseHeader p{
       margin-top: 0.5rem;
       padding-right: 15%;
       font-family: monospace; 
       font-weight: bolder;
       font-size: 1rem;
       color: rgb(253, 253, 253);

 }

 main{
   
    border-radius: 0.5rem;
    border:0.12rem solid rgb(115, 89, 156);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
section{
   
       border-radius: 0.5rem;
      
       border:0.10rem solid rgb(139, 179, 175);
       margin-bottom: 1rem;
     
   }
   section:nth-child(2n){
       background-color: rgb(206, 241, 230);
   
   }
   section button {
    border-width: 0.09rem;
    border-radius: 0.5rem;
    
       background-color:rgb(230, 209, 216);
   }
   section form{
    font-family: "Audiowide", sans-serif;
       
   }
   #secondSection{
       display: flex;
       flex-direction: column;
       
       
   }
   #thirdSection{
       display: flex;
       flex-direction: column;
      
   }
   #thirdSection h4 ,ol,li{
    font-family: "Audiowide", sans-serif;
   }
  
   #botonEnviar{
     background-color:rgb(230, 209, 216);
    border-width: 0.09rem;
    border-radius: 0.5rem;
}
   
   iframe{
      margin-left: 10%; 
     
      
     background-color: rgb(119, 54, 133);
   
       border:0.10rem solid rgb(173, 147, 172);
       width: 75%;
   }
   
   .classImg{
    display: none;

}
 

 footer{
    margin-left: 3%; 
    
       width: 90%;
       display:inline-flex;
       justify-content: center;
       border-radius: 0.5rem;
       background-color: rgb(172, 201, 228);
   }
     footer button{
       border-width: 0.1rem;
       border-radius: 0.6rem;
       background-color: rgb(221, 221, 247);
   }
   /*-----*/

   @media screen and  (max-width:382px){
    body{
        
      
        width: 95%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #header{
        width: 90%;
        font-size: 0.50rem;
       
        opacity: 0.7;
    }
    header h1{
        animation-name: cambiarColorFontHeader;
    animation-duration:0.0001s ;

animation-iteration-count: initial;
       margin-right: 25%;

}
h3 ,h4{
    font-size: 0.9rem;
}    

    #fraseHeader {
    
        display:none;
        }

    #forthSection{
        display:none;
    }    
    footer button{
        display: none;
    } 
#firstSection button {
    display:none;
}


}

@media screen and (min-width:383px) and (max-width:500px) {
  
     
    section:nth-child(1n){
        background-color: rgb(170, 252, 227);
   
      
     
    
   
      
}
  
}
   
/*-----*/
@media screen and (min-width:501px) and (max-width:744px) {
  
    section:nth-child(1n){
        background-color: rgb(212, 248, 237);
    }
    section:nth-child(2n){
        background-color: rgb(167, 187, 180);}
   
  
        iframe{
         
           
            
           background-color: rgb(186, 179, 189);
           border-radius: 0.6rem;
             border:0.10rem solid rgb(107, 93, 107);
             width: 75%;




   
}

}




/*-----*/
@media screen and (min-width:745px) and (max-width:1400px) {

main{
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:  
                           
                           "a a a a"
                           "b b c c"
                           "d d d d"
                            ;
                            grid-column-gap :0.25rem;
}
#header{
    grid-area: hd;
}
#header h1{
    margin-top:10%;
}
#header p{
    margin-bottom:10rem;
}
#nav{
    grid-area: nav;
}

#fraseHeader{
    padding-right: 5%;
}


section:nth-child(1){
    background-color: rgb(212, 248, 237);
}
section:nth-child(2){
    background-color: rgb(167, 187, 180);
}
    section:nth-child(3){
        background-color: rgb(167, 187, 180);
    }
    section:nth-child(4){
        background-color: rgb(212, 248, 237);
    }

#firstSection{
    grid-area: a;

}
#secondSection{
    grid-area: b;

}
#thirdSection{
    grid-area: c;
}
#forthSection{
    grid-area:d;
    display:flex;
    align-items: center;

}
#forthSection form{
    margin-left: 15rem;
}
#footer{
    grid-area: ft;
    display:flex;
    align-items: center;


}
section{
    background-color: rgb(206, 241, 230);
}
main button:hover{
    width: 22%;
    background-color: azure;

}
#botonEnviar:hover{
    background-color: azure;
}

}